@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Cash withdraw</h2>
<ul>
    <li>
        @Html.ActionLink("50", "WithdrawMoney", "Bank", (double) 50)
    </li>
    <li>
        @Html.ActionLink("100", "WithdrawMoney", "Bank", (double) 100)
    </li>
    <li>
        @Html.ActionLink("200", "WithdrawMoney", "Bank", (double) 200)
    </li>
    <li>
        <a href="#">Other sum</a>
    </li>
</ul>