@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Main menu</h2>
<ul>
    <li>
        <a asp-controller="Bank" asp-action="CheckBalance">Balance</a>
    </li>
    <li>
        <a href="#">Cash</a>
    </li>
</ul>