@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Withdrawal sucess</h2>
You will be redirected in 10 seconds
<br>
<a asp-controller="Bank" asp-action="SuccessLoginScreen">Go to main screen</a>
