@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Main menu</h2>
<ul>
    <li>
        <a asp-controller="Balance" asp-action="CheckBalance">Balance</a>
    </li>
    <li>
        <a asp-controller="Cash" asp-action="CashRequest">Cash</a>
    </li>
</ul>