@model BankMVC.ViewModel.ViewModels.UserBalanceViewModel

@{
    ViewBag.Title = "User Balance";
    Layout = "_Layout";
}

<h2>User Balance</h2>
<ul>
    <li>Username: @Model.UserName</li>
    <li>Balance: @Model.Balance</li>
</ul>