@model object

@{
    ViewBag.Title = "Withdraw cash";
    Layout = "_Layout";
}

<h2>Cash withdraw</h2>
<ul>
    <li>
        @Html.ActionLink("50", "DeductCashAmount", "Cash", new {amount = 50})
    </li>
    <li>
        @Html.ActionLink("100", "DeductCashAmount", "Cash", new {amount = 100})
    </li>
    <li>
        @Html.ActionLink("200", "DeductCashAmount", "Cash", new {amount = 200})
    </li>
    <li>
        @Html.ActionLink("Other sum", "OtherAmount", "Cash")
    </li>
</ul>