
@{
    ViewBag.Title = "Successful Transaction";
    Layout = "_Layout_redirect";
}

<h2>Cash Deduct Success</h2>
Please take your money. In 10 secs you will be redirected.
<a asp-controller="Login" asp-action="SuccessLoginScreen">Go back</a>